[submodule "player_settings"]
	path = player_settings
	url = https://github.com/Lazerbeak12345/player_settings
[submodule "fsfcraftguide"]
	path = fsfcraftguide
	url = https://github.com/Lazerbeak12345/fsfcraftguide.git
